{% extends 'tasks/base.html' %}

{% block content %}
<h1 class="mb-4">Editar Tarefa</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_title" class="form-label">Título</label>
        {{ form.title }}
    </div>
    <div class="mb-3 form-check">
        {{ form.completed }}
        <label class="form-check-label" for="id_completed">Concluída</label>
    </div>
    <a href="{% url 'task_list' %}" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>
{% endblock %}